body {
    background: #f4f4f4;
    color: #757575;
    font-family: 'Alegreya Sans', sans-serif;
    letter-spacing: 2px;
    padding-bottom: 60px;
}

.container {
    background: #fff;
    padding: 30px 30px;
    margin: 30px auto;
    border: 1px solid #a5d4fc;
}

img {
    max-width: 100%;
}

.propic {
    border-radius: 10px;
}

.propic-sub {
    margin-top: 4px;
    border-radius: 4px;
    max-width: 20px;
    max-height: 20px;
}

hr {
    margin: 40px 0;
}

h1 {
     font-size: 2em;
     font-weight: bolder;
     text-transform: uppercase;
     color: #000;
     margin: 0;
 }


h2 {
    font-size: 1.1em;
    background: #fcfcfc;
    padding: 2px;
    margin: 0;
}

h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;
}

h4 {
    margin: 15px 0 0;
}

p,
a {
    line-height: 1.7em;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 16px;
}

li {
    padding: 7px 0;
}

.dl-share .btn {
    min-width: 120px;
}

.signature {
    font-family: 'Kristi', cursive;
    color: #3e3f40;
    font-size: 2.2em;
    margin-top: 20px;
    text-align: right
}

.social {
    margin-right: 7px;
}

.btn .fa {
    margin-right: 10px;
}

.secicon.fa {
    font-size: 28px;
    color: #000;
    margin-right: 10px;
}

.sub {
    color: cornflowerblue;
    margin-bottom: 0px;
}

.key {
    color: darkseagreen;
    margin-bottom: 15px;
}

.abstract {
    text-align: justify;
    color: #3e3f40;
    margin-bottom: 15px;
}

.nb {
    color: crimson;
    margin-bottom: 15px;
}

.award {
    padding-top: 20px;
}

blockquote {
    font-size: 1em;
    padding: 0 15px;
    margin: 30px 0;
}

.mainleft {
    padding-right: 30px;
}

.testimonials img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-top: -10px;
    border: 1px solid #ededed;
}

.year,
.share {
    text-align: right;
}

footer p,
footer a {
    font-size: 13px;
}

.superscript {
    vertical-align: super;
    font-size: smaller;
}

.more {
    font-size: smaller;
}

.progress {
    height: 10px;
}

.config-box {
    position: relative;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.collapse {
    margin-bottom: 8px
}

.danger {
    color: red;
}

.disabledbutton {
    display: block;
    pointer-events: none;
    opacity: 0.4;
}

.required {
    border: thin solid #d90000;
}

textarea {
    width: 100%;
    resize: none;
}

.title {
    text-align: center;
}

.h1-mod{
    font-size: 2em;
    font-weight: bolder;
    color: #000;
    margin: 0;
}

.code{
    font-family: "Courier New";
}

.alert-info{
    height: 40px;
    padding-top: 10px;
    margin-bottom: 0px;
}


/* Better styles for embedding GitHub Gists */
.gist{font-size:10px;line-height:10px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco, 'Alegreya Sans', 'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:10px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}



.picround {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
    border-color: #999999;
    /*object-position: 0 0;*/
}


.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}